<a href="https://colab.research.google.com/github/19PA1A0548/07-03-2020/blob/master/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

bias:
bias is nothing but the error in the  value that we have predicted.(actual-predicted)..
it is same for all type of datas
high bias means under fitting data

variance:
 it is ntg but the change in the error for the unknown data set .
 it may be low or high for different datasets
high variance means over fitting data

In [0]:
train test split:
it is nothing but we divide the datainto our required paraneters 
we can divide the data into training data abnd testing data
it will distribute randomly.
cross vali:
it is nothing but we haveto give values upto whiuch extent it should take without random distribution
it takes value in a series order.(which we have given) it will also divide data into train and test but as per our parameters

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn import metrics
import seaborn as sns
import numpy as np
from sklearn.linear_model import Ridge

In [2]:
df=pd.read_csv('/content/students_placement_data.csv')
df

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
# calculating in btech percentage in terms  of ssc percentage
x=df['SSC Percentage'].values.reshape(-1,1)
y=df['B.Tech_percentage'].values.reshape(-1,1)

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [6]:
model=LinearRegression()
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
# a;ll the perdiucted values of btech
y_pre=model.predict(x_test)
print(y_pre)

[[57.49552103]
 [56.27287048]
 [67.68918589]
 [67.19570645]
 [63.49092796]
 [66.70222701]
 [58.48247991]
 [63.8812923 ]
 [66.33395877]
 [67.56397469]
 [59.95555287]
 [50.96980783]
 [64.12434933]
 [66.21611293]
 [69.16225885]
 [67.19570645]
 [62.28300814]
 [64.37477174]
 [50.01231041]
 [63.93284985]
 [55.90460224]
 [69.53052709]
 [67.02630306]
 [59.70513046]
 [61.79689406]
 [63.49092796]
 [61.06035758]
 [65.72263349]
 [63.7560811 ]
 [62.77648758]
 [47.67748977]
 [58.35726871]
 [38.08041946]
 [65.47957645]
 [66.95264941]
 [57.74594343]]

In [11]:
dataframe=pd.DataFrame({'actual':y_test.flatten(),'predict':y_pre.flatten()})
dataframe.head()

   actual    predict
0   73.09  57.495521
1   52.31  56.272870
2   53.26  67.689186
3   74.25  67.195706
4   54.16  63.490928

In [13]:
# error of btech percentage in tyerms of ssc
z=metrics.mean_absolute_error(y_test,y_pre)
print('mean square error for ssc percentage:',z)

mean square error for ssc percentage: 8.369785632385899

In [0]:
#calculating in btech percentage in terms  of inte percentage

In [0]:
x=df['inter_Diploma_percentage'].values.reshape(-1,1)
y=df['B.Tech_percentage'].values.reshape(-1,1)

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [15]:
model=LinearRegression()
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
# all the predicted btech percentages
y_pre=model.predict(x_test)
print(y_pre)

[[60.33724489]
 [70.20800754]
 [71.60701327]
 [63.52386905]
 [71.45156819]
 [72.85057392]
 [71.00854971]
 [60.57041251]
 [68.34266657]
 [69.50850467]
 [48.05708348]
 [57.30606581]
 [46.42491013]
 [71.84018089]
 [73.7832444 ]
 [62.90208873]
 [54.19716419]
 [63.53164131]
 [74.17185711]
 [65.07831986]
 [62.82436619]
 [65.62237765]
 [65.93326781]
 [70.20800754]
 [65.33480425]
 [69.58622722]
 [69.81939484]
 [65.77782273]
 [66.72603772]
 [63.05753381]
 [69.66394976]
 [73.55007678]
 [57.77240105]
 [72.07334851]
 [51.32143019]
 [70.82978786]]

In [19]:
dataframe=pd.DataFrame({'actual':y_test.flatten(),'predict':y_pre.flatten()})
dataframe.head()

   actual    predict
0   59.53  60.337245
1   53.00  70.208008
2   75.42  71.607013
3   57.75  63.523869
4   74.30  71.451568

In [21]:
#calculating meaan square error of inter
z1=metrics.mean_absolute_error(y_test,y_pre)
print('mean square error for inter percentage:',z1)

mean square error for inter percentage: 7.189031992665908

In [22]:
# comparing minimum error of ssc or inter
cmp=min(z,z1)

7.189031992665908

inter percentage is closely related to the btech percentage as it is has very less error ..
on comparing error with ssc and inter..